//adattare metas
%link{:rel=>"canonical", :href=>"http://www.vinylunited.com"}
%link{:href=>"https://plus.google.com/", :rel=>"publisher"}

%meta{:name => "viewport", :content => "width=1010"}
%meta{:name => "viewport", :content => "user-scalable=yes"}
%meta{:name => "apple-mobile-web-app-capable", :content =>"yes"}
%meta{:name => "apple-mobile-web-app-status-bar-style", :content => "black"}



