-# coding: utf-8
!!!5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
%html.no-js{lang:"it",:"xmlns:fb" => "http://ogp.me/ns/fb#", style:"background: white;"}
  %head
    %meta{:charset => "utf-8"}

    = stylesheet_link_tag "signature"

  %body{ style:"background: white;"}
    = yield











