#aboutus-section
  .container
    %h2
      ABOUT US
    %p
      Vinyl United è una società internazionale indipendente che offre consulenza di comunicazione ad alto valore aggiunto ed improntata all’innovazione.
      %br/
      Si propone come partner di aziende di tutto il mondo che hanno l’ambizione di crescere utilizzando gli strumenti piu’adatti per comunicare in modo contemporaneo.
      %br/
      Il vantaggio competitivo che offre Vinyl United e’ quello di accedere ad un pensiero strategico - creativo di assoluta eccellenza e, soprattutto in via privilegiata, a ogni nuova tecnologia capace di esprimerlo con maggior efficacia.
    .arrow
      %a{href:"#aboutus"}
        PARTNERS
      .right

