#aboutus-section
  .container
    %h2.title
      = t("aboutus.title")
    %p.main
      = t("aboutus.main")
    .arrow-right
      #video-link
        %span
          = t("aboutus.next")
        .asset

  .arrow-down
    %a{href:"#whatwedo"}
      .asset
      %span
        = t("whatwedo.title")
  .space
