#aboutus-section
  .container
    %h2.title
      = t("aboutus.title")
    %p.main
      = t("aboutus.main")
    .arrow-right
      #partners-link
        %span
          = t("partners.title")
        .asset
  .arrow-down.short
    %a{href:"#howwework"}
      .asset
      %span
        = t("howwework.title")
  .space
