#aboutus-section
  .container
    %h2.title
      = t("aboutus.title")
    %p.main
      = t("aboutus.main")
  .arrow-down.short
    %a{href:"#whatwedo"}
      .asset
      %span
        = t("whatwedo.title")
  .space
