#contactus-section
  .container
    %h2.title
      CONTACT US
    %p.main
      Se volete conoscerci di persona, avete una soluzione da trovare e desiderate un nostro consiglio, potete contattarci in ogni momento scrivendoci o compilando il form qui accanto.
    .spacer
      %ul
        %li
          %h3
            Guido Chiovato
          %p
            CEO&Executive Partner
          %p
            %a{href:"mailto:guido.chiovato@vinylunited.com"}guido.chiovato@vinylunited.com
        %li
          %h3
            Adriano Marconetto
          %p
            Executive Partner
          %p
            %a{href:"mailto:adriano.marconetto@vinylunited.com"}adriano.marconetto@vinylunited.com
        %li
          %h3
            Marco Caserta
          %p
            Executive Partner
          %p
            %a{href:"mailto:marco.caserta@vinylunited.com"}marco.caserta@vinylunited.com

    .arrow-left
      #ouroffices-link
        %span
          OUR OFFICES
        .asset

