#contactus-section
  .container
    %h2.title
      = t("contactus.title")
    %p.main
      = t("contactus.main")
    .spacer
      %ul
        %li
          %h3
            Guido Chiovato
            %span
              | CEO&Executive Partner
          %p
            %a{href:"mailto:guido.chiovato@vinylunited.com"}guido.chiovato@vinylunited.com
        %li
          %h3
            Elena Sacco
            %span
              | Executive Partner
          %p
            %a{href:"mailto:elena.sacco@vinylunited.com"}elena.sacco@vinylunited.com
        %li
          %h3
            Marco Caserta
            %span
              | Executive Partner
          %p
            %a{href:"mailto:marco.caserta@vinylunited.com"}marco.caserta@vinylunited.com
        %li
          %h3
            Roberto Rubulotta
            %span
              | Digital Analytics & Technology Advisor
          %p
            %a{href:"mailto:roberto.rubulotta@vinylunited.com"}roberto.rubulotta@vinylunited.com
      .legal
        %p
          = I18n.t("legal.legal")
    .right
      %form.contact-form{action: "form_data.php", method: "post", novalidate: ""}
        %input#name.form-name{name: "name", placeholder: I18n.t("contactus.form.name"), type: "text"}/
        %input#lastname.form-email{name: "lastname", placeholder: I18n.t("contactus.form.lastname"), type: "text"}/
        %input#phone.form-email{name: "phone", placeholder: I18n.t("contactus.form.phone"), type: "text"}/
        %input#email.form-email{name: "email", placeholder: I18n.t("contactus.form.email"), type: "email"}/
        %textarea#message.form-message{name: "message", placeholder: I18n.t("contactus.form.message")}
        %input{type:"submit", value:I18n.t("contactus.form.button")}

    .arrow-left
      #ouroffices-link
        %span
          = t("ourofficies.title")
        .asset
  .space
