#footer
	%h2
		Contacts:
	%p.guido
		<span>Guido Chiovato</span><br />
		CEO & Executive Partner<br />
		<br />
		guido.chiovato@vinylunited.com<br />

	%p.adriano
		<span>Adriano Marconetto</span><br />
		Executive Partner<br />
		<br />
		adriano.marconetto@vinylunited.com<br />


	%p.info
		Vinyl United s.r.l Via Conservatorio, 17 20122 Milano Italia REA MI-2040356 CF/PIVA 08660840961 Capitale Sociale Interamente Versato Euro 10.000



