#header
  #menu
    %i.fa.fa-bars.hamburger
  #menu-open
    .container
      %ul
        %li{:"data-menuanchor"=>"aboutus"}
          %a{href:"#aboutus"}
            About us
        %li{:"data-menuanchor"=>"howwework"}
          %a{href:"#howwework"}
            How we work
        %li{:"data-menuanchor"=>"whatwedo"}
          %a{href:"#howwework/1"}
            What we do
        %li{:"data-menuanchor"=>"ourexperiences"}
          %a{href:"#ourexperiences"}
            Our experiences
        %li{:"data-menuanchor"=>"ourvalues"}
          %a{href:"#ourvalues"}
            Our values
        %li{:"data-menuanchor"=>"ouroffices"}
          %a{href:"#ouroffices"}
            Our offices
        %li{:"data-menuanchor"=>"contactus"}
          %a{href:"#ouroffices/1"}
            Contact us
  #lang
    %ul
      %li
        %a{href:"#"}
          EN
