#howwework-section
  .container
    %h2.title
      HOW WE WORK
    %p.main
      Ogni incarico che riceviamo è seguito in prima persona da uno dei soci fondatori a garanzia della qualità del pensiero, del rispetto dei tempi e dell’ottimizzazione dei costi.
      %br/
      %br/
      Ogni nostro collaboratore, nazionale o internazionale, è stato selezionato per talento, specializzazione, serietà e rapporto qualità/costo.
      Questo, assieme alla semplicità di avere un interlocutore unico, dà a ogni progetto sviluppato da Vinyl United, un valore difficilmente pareggiabile da qualsiasi altra società.
    .arrow-right
      #whatwedo-link
        %span
          WHAT WE DO
        .asset
  .arrow-down
    %a{href:"#ourexperiences"}
      .asset
      %span
        OUR EXPERIENCES

