#howwework-section
  .container
    %h2.title
      = t("howwework.title")
    %p.main
      = t("howwework.main")
    .arrow-right
      #whatwedo-link
        %span
          = t("whatwedo.title")
        .asset
  .arrow-down.short
    %a{href:"#ourexperience"}
      .asset
      %span
        = t("ourexperiences.title")
  .space
