#howwework-section
  .container
    %h2.title
      = t("howwework.title")
    %p.main
      = t("howwework.main")
    .arrow-right
      #experience-link
        %span
          = t("ourexperiences.title")
        .asset
  .arrow-down
    %a{href:"#advantages"}
      .asset
      %span
        = t("advantages.title")
  .space
