#landing-section
  .container
    = image_tag "vinyl_logo.png", class: "logo"
    %h1
      = I18n.t("landing.title")

  .arrow-down
    %a{href:"#aboutus"}
      .asset
      %span
        scroll down