#legal-section
  .container
    = image_tag "vinyl_logo.png", class: "logo"
    %h1
      = I18n.t("landing.title")
    .credits
      %p
        = I18n.t("legal.credits")
    .legal
      %p
        = I18n.t("legal.legal")