#ourvalues-section
  .container
    %h2.title
      OUR VALUES
    %p.main
      Vinyl United è stata fondata su pochi ma fondamentali valori:
    .spacer
      .value
        %h3
          QUALITÁ
        %p
          Ogni servizio fornito deve rispettare i più alti standard qualitativi sia in termini di pensiero sia di esecuzione. Tutto questo impiegando le risorse dei nostri clienti con la stessa attenzione e parsimonia che avremmo se queste fossero le nostre.
      .value
        %h3
          INTEGRITÀ
        %p
          Affrontiamo ogni progetto con un profondo senso dell’etica, con totale trasparenza ed onestà. Suggeriamo sempre la via più conveniente e corretta per i nostri Clienti, tutelando in ogni moda i loro interessi.
      .value
        %h3
          COERENZA
        %p
          Le soluzioni che proponiamo sono spesso sfidanti e non convenzionali ma crediamo in ciò che proponiamo e facciamo in modo di mantenere sempre un punto di vista indipendente; è dal confronto con il pensiero diverso che nascono i progetti migliori e i servizi più utili.
      .value
        %h3
          RISPETTO
        %p
          Pur avendo l’innovazione come parte fondamentale del nostro DNA, rispettiamo il patrimonio di pensiero e la storia di ogni Azienda per la quale lavoriamo.             Sappiamo che la vera innovazione in comunicazione è efficace quando s’innesta con coerenza e delicatezza e non stravolge la voce dell’Azienda.
  .arrow-down
    %a{href:"#ouroffices"}
      .asset
      %span
        OUR OFFICES


