#ourexperience-section
  .container
    %h2.title
      = t("ourexperiences.title")
    %p.main
      = t("ourexperiences.main")
    .spacer
      .category
        %h3
          AUTOMOTIVE
        %ul.one
          %li
            ABARTH
          %li
            ALFA ROMEO
          %li
            CHRYSLER
          %li
            DODGE
          %li
            FERRARI
          %li
            FIAT
          %li
            FORD
          %li
            GENERAL MOTORS
          %li
            JEEP
          %li
            MASERATI
      .category
        %h3
          LUXURY GOODS <br />AND LIFESTYLE
        %ul.two
          %li
            BULGARI
          %li
            FERRETTI YACHTS
          %li
            ITAMA
          %li
            TERME DI SATURNIA
          %li
            BOSCOLO HOTELS
          %li
            MONT BLANC
          %li
            POMELLATO
          %li
            MORELLATO JEWELS
          %li
            SILVER SEA CRUISES
      .category
        %h3
          TECHNOLOGY
        %ul.three
          %li
            IBM
          %li
            MOTOROLA
          %li
            ELECTRO POWER SYSTEMS
          %li
            VITAMINIC
          %li
            SAMSUNG
          %li
            KODAK
      .category
        %h3
          FOOD AND BEVERAGES
        %ul.four
          %li
            BAULI
          %li
            FERRERO
          %li
            GRANAROLO
          %li
            KRAFT
          %li
            KNORR
          %li
            NESTLÉ
          %li
            THE COCA COLA COMPANY

    .arrow-right
      #experience2-link
        %span
          = t("ourexperiences2.link")
        .asset
  .arrow-down.short
    %a{href:"#ourvalues"}
      .asset
      %span
        = t("ourvalues.title")
  .space