#ourexperience-section
  .container
    %h2.title
      = t("ourexperiences.title")
    %p.main
      = t("ourexperiences.main")
    .spacer
      .category
        %h3
          AUTOMOTIVE
        %ul.one
          %li
            ABARTH
          %li
            ALFA ROMEO
          %li
            CHRYSLER
          %li
            DODGE
          %li
            FERRARI
          %li
            FIAT
          %li
            FORD
          %li
            GENERAL MOTORS
          %li
            JEEP
          %li
            MASERATI
      .category
        %h3
          LUXURY GOODS <br />AND LIFESTYLE
        %ul.two
          %li
            BOSCOLO HOTELS
          %li
            BULGARI
          %li
            FERRETTI YACHTS
          %li
            ITAMA
          %li
            MONT BLANC
          %li
            MORELLATO JEWELS
          %li
            POMELLATO JEWELS
          %li
            SILVER SEA CRUISES
          %li
            TERME DI SATURNIA
      .category
        %h3
          TECHNOLOGY
        %ul.three
          %li
            IBM
          %li
            KODAK
          %li
            MOTOROLA
          %li
            OLIVETTI COMPUTER
          %li
            SAMSUNG

      .category
        %h3
          FOOD AND BEVERAGES
        %ul.four
          %li
            BAULI
          %li
            FERRERO
          %li
            FRESCOBALDI
          %li
            GRANAROLO
          %li
            KNORR
          %li
            KRAFT
          %li
            MILLBO
          %li
            NESTLÉ
          %li
            THE COCA COLA COMPANY

    .arrow-right
      #experience2-link
        %span
          = t("ourexperiences2.link")
        .asset
    .arrow-left.short
      #howwework-link
        %span
          = t("howwework.title")
        .asset
  -# .arrow-down.short
  -#   %a{href:"#ourvalues"}
  -#     .asset
  -#     %span
  -#       = t("ourvalues.title")
  .space
