#ourexperience2-section
  .container
    %h2.title
      = t("ourexperiences.title")
    .vertical-spacer
    .spacer
      .category
        %h3
          BANKING AND INSURANCE
        %ul.five
          %li
            ALLEANZA ASSICURAZIONI
          %li
            AMERICAN EXPRESS
          %li
            EUROPE ASSISTANCE
          %li
            ING DIRECT
          %li
            SARA ASSICURAZIONI
          %li
            UNICREDIT
          %li
            ZURICH ASSICURAZIONI
        %h3
          INSTITUTIONAL
        %ul.six
          %li
            AUTOSTRADE PER L’ITALIA
          %li
            EDISON
          %li
            ENEL GREEN POWER
          %li
            PIEMONTE
          %li
            SORGENIA
          %li
            TRENTINO


      .category
        %h3
          FASHION AND SPORTSWEAR
        %ul.seven
          %li
            CONTE OF FLORENCE
          %li
            ELENA MIRÓ
          %li
            MOTIVI
          %li
            SERGIO TACCHINI

        %h3.special
          TOILETRIES AND PERFUMES
        %ul.eight
          %li
            L'OREAL
          %li
            ACQUA DI PARMA
          %li
            PROCTER&GAMBLE
          %li
            UNILEVER
      .category
        %h3
          HOME APPLIANCES
        %ul.nine
          %li
            AEG
          %li
            ARISTON
          %li
            CASTOR
          %li
            ELECTROLUX
          %li
            INDESIT
          %li
            PHILIPS
          %li
            REX BUILT-IN
          %li
            SAMSUNG
          %li
            ZANUSSI GROUP
          %li
            ZOPPAS
        %h3
          TOBACCO
        %ul.ten
          %li
            BAT
          %li
            PHILIP MORRIS


    .arrow-left
      #experience3-link
        %span
          = t("ourexperiences.link")
        .asset
  .space
