#ourexperiences2-section
  .container
    %h2.title
      OUR EXPERIENCES
    .vertical-spacer
    .spacer
      .category
        %h3
          BANKING AND FINANCE
        %ul
          %li
            AMERICAN EXPRESS
          %li
            UNICREDIT
          %li
            ING
          %li
            ALLEANZA ASSICURAZIONI
          %li
            SARA ASSICURAZIONI
          %li
            EUROPE ASSISTANCE

      .category
        %h3
          TOBACCO
        %ul
          %li
            PHILIP MORRIS
          %li
            BRITISH AMERICAN TOBACCO
        %h3
          FASHION AND SPORTSWEAR
        %ul
          %li
            KAPPA
          %li
            MOTIVI
          %li
            ELENA MIRÓ
          %li
            CONTE OF FLORENCE

      .category
        %h3
          TOILETRIES
        %ul
          %li
            PROCTER&GAMBLE
          %li
            UNILEVEL
        %h3
          HOME APPLIANCES
        %ul
          %li
            INDESIT
          %li
            ARISTON
          %li
            PHILIPS
      .category
        %h3
          INSTITUTIONAL
        %ul
          %li
            TRENTINO
          %li
            AUTOSTRADE PER L’ITALIA

    .arrow-left
      #experience-link
        .small-asset

