#ourexperience2-section
  .container
    %h2.title
      = t("ourexperiences.title")
    .vertical-spacer
    .spacer
      .category
        %h3
          BANKING AND INSURANCE
        %ul.five
          %li
            AMERICAN EXPRESS
          %li
            UNICREDIT
          %li
            ING DIRECT
          %li
            ALLEANZA ASSICURAZIONI
          %li
            SARA ASSICURAZIONI
          %li
            EUROPE ASSISTANCE
        %h3
          TOBACCO
        %ul.six
          %li
            PHILIP MORRIS
          %li
            BAT
      .category
        %h3
          FASHION AND SPORTSWEAR
        %ul.seven
          %li
            KAPPA
          %li
            MOTIVI
          %li
            ELENA MIRÓ
          %li
            CONTE OF FLORENCE
          %li
            SERGIO TACCHINI
        %h3.special
          TOILETRIES
        %ul.eight
          %li
            PROCTER&GAMBLE
          %li
            UNILEVER
      .category
        %h3
          HOME APPLIANCES
        %ul.nine
          %li
            INDESIT
          %li
            ARISTON
          %li
            PHILIPS
        %h3
          INSTITUTIONAL
        %ul.ten
          %li
            TRENTINO
          %li
            AUTOSTRADE PER L’ITALIA

    .arrow-left
      #experience-link
        %span
          = t("ourexperiences.link")
        .asset
  .space
