#ouroffices-section
  .container
    %h2.title
      OUR OFFICES
    %p.main
      Siamo presenti a Milano, New York e San Francisco agli indirizzi che trovate indicati qui sotto.
    .spacer
      %ul
        %li
          %h3
            MILAN
          %p
            Piazza 4 Novembre 7,
            %br/
            Milan, IT
            %br/
            20124
            %br/
            +39 02 87343418
          = image_tag "vinyl_milan.png"
        %li
          %h3
            NEW YORK
          %p
            379 West Brodway
            %br/
            New york, NY
            %br/
            10012
            %br/
            +1 855 593 9675
          = image_tag "vinyl_new_york.png"
        %li
          %h3
            SAN FRANCISCO
          %p
            25 Taylor Street
            %br/
            San Francisco, CA
            %br/
            94102
            %br/
            +1 415 858 1505
          = image_tag "vinyl_frisco.png"
    .arrow-right
      #contactus-link
        %span
          CONTACT US
        .asset

