#partners-section
  .container
    .arrow-left
      #aboutus-link
        %span
          ABOUT US
        .asset
    %h2.title
      PARTNERS
    %p.main
      Vinyl United è stata fondata da tre soci di grande esperienza provenienti da settori professionali differenti: Comunicazione e Marketing, Imprenditoria Hi-Tech, finanza e gestione di impresa.
      %br/
      Questa ricchezza di esperienze rende ogni progetto, di comunicazione o servizio fornito da Vinyl United, più approfondito e avanzato di qualunque altro prodotto realizzato dalle consuete agenzie di comunicazione, sia tradizionali sia digitali.
    #partners-group
      .partner
        .avatar
          %img{src:lorem.image('90x90')}
        .info
          %h3.name
            Guido Chiovato
          %p.position
            CEO&Executive Partner
          %p.link
            %a{href:"http://linkedinprofile.com", target: "_blank"}
              http://linkedinprofile.com
      .partner
        .avatar
          %img{src:lorem.image('90x90')}
        .info
          %h3.name
            Guido Chiovato
          %p.position
            CEO&Executive Partner
          %p.link
            %a{href:"http://linkedinprofile.com", target: "_blank"}
              http://linkedinprofile.com
      .partner
        .avatar
          %img{src:lorem.image('90x90')}
        .info
          %h3.name
            Guido Chiovato
          %p.position
            CEO&Executive Partner
          %p.link
            %a{href:"http://linkedinprofile.com", target: "_blank"}
              http://linkedinprofile.com
    #vertical-line
