#partners-section
  .container
    .arrow-left
      #aboutus-link
        %span
          = t("aboutus.title")
        .asset
    %h2.title
      = t("partners.title")
    %p.main
      = t("partners.main")
    #partners-group
      .partner
        .avatar
          %img{src:lorem.image('90x90')}
        .info
          %h3.name
            Guido Chiovato
          %p.position
            CEO&Executive Partner
          %p.link
            %a{href:"http://linkedinprofile.com", target: "_blank"}
              http://linkedinprofile.com
      .partner
        .avatar
          %img{src:lorem.image('90x90')}
        .info
          %h3.name
            Guido Chiovato
          %p.position
            CEO&Executive Partner
          %p.link
            %a{href:"http://linkedinprofile.com", target: "_blank"}
              http://linkedinprofile.com
      .partner
        .avatar
          %img{src:lorem.image('90x90')}
        .info
          %h3.name
            Guido Chiovato
          %p.position
            CEO&Executive Partner
          %p.link
            %a{href:"http://linkedinprofile.com", target: "_blank"}
              http://linkedinprofile.com
    #vertical-line
