#process-section
  .container
    %h2.title
      = t("process.title")
    .process
      .horizontal
        = image_tag "vinyl_processo.png"
      .vertical
        = image_tag "vinyl_processo_verticale.png"
    .arrow-left
      #partners-link
        %span
          = t("whatwedo.title")
        .asset
    -# .arrow-down.short
    -#   %a{href:"#howwework"}
    -#     .asset
    -#     %span
    -#       = t("howwework.title")
  .space
