#thename-section
  .container
    %h2.title
      = t("thename.title")
    %p.main
      = t("thename.main")
    .arrow-left
      #reasons-link
        %span
          = t("reasons.title")
        .asset
  -# .arrow-down.short
  -#   %a{href:"#howwework"}
  -#     .asset
  -#     %span
  -#       = t("howwework.title")
  .space
