#whatwedo-section
  .container
    %h2.title
      WHAT WE DO
    %p.main
      I nostri servizi includono:
    .spacer
      .left
        %ul
          %li
            COMMUNICATION STRATEGIES
          %li
            BRANDS AND COMPANIES POSITIONING
          %li
            HI-TECH ONE TO ONE COMMUNICATION
          %li
            ABOVE AND BELOW THE LINE ADVERTISING
          %li
            PROXIMITY COMMUNICATION
          %li
            CONSUMER ENGAGEMENT
          %li
            WEB/SOCIAL DIGITAL PROJECTS
      .right
        %ul
          %li
            MULTIPLATFORM APPS
          %li
            B2B AND B2C COMMUNICATION PROJECTS
          %li
            NEW PRODUCTS CONCEPT AND DESIGN
          %li
            START UP: SCOUTING AND EVALUATION
          %li
            COSTS & PERFORMANCES ASSESSMENT OF COMMUNICATION AGENCIES

    .arrow-left
      #howwework-link
        %span
          HOW WE WORK
        .asset

