//=require fullpage.js/jquery.fullPage.css
@import compass/utilities/sprites
@import compass/typography
@import h5bp
@import susy
@import compass/typography/vertical_rhythm
@import compass/support
@import compass/css3
@import compass/layout/stretching


+h5bp-normalize
+establish-baseline

$legacy-support-for-ie: true




@import partials/custom_mixins
@import partials/grid

@import "font-awesome"

@import partials/comingsoon




*:focus
  outline-style: none
  outline-width: 0px



@import partials/header

@import partials/footer
@import partials/footer_comingsoon

@import partials/aboutus

@import partials/landing


.hyphenate
  +hyphenation


.container
  +container($total-columns, $break3)

h1,h2,h3,h4,h5,h6,p,span,textarea,input
  font-family: 'Lato', sans-serif
html
  background: #1a1a1a


body
  min-width: 100%
  min-height: 100%
  background: #1a1a1a





.section
  text-align: center



.section, .slide
  background-repeat: no-repeat
  background-size: cover
  background-position: center center


#section3
  background-image: image-url("backgrounds/vinyl_howwework_img.jpg")


#section4
  background-image: image-url("backgrounds/vinyl_whatwedo_img.jpg")



#slide1
  background-image: image-url("backgrounds/vinyl_aboutus_img.jpg")


#slide2
  background-image: image-url("backgrounds/vinyl_partners_img.jpg")


#slide3
  background-image: image-url("backgrounds/vinyl_experience_img.jpg")


#slide4
  background-image: image-url("backgrounds/vinyl_ourvalues_img.jpg")

#slide5
  background-image: image-url("backgrounds/vinyl_ouroffices_img.jpg")


#slide6
  background-image: image-url("backgrounds/vinyl_contactus_img.jpg")


