#contactus-section
  p.main
    +span-columns(4,12)
  .spacer
    +span-columns(10,12)
    +pre(2,12)
  ul

    +no-bullets
    padding-left: 0
    margin-left: 0
    text-align: left
    +span-columns(4,10)
    li
      +span-columns(4,4)

      h3
        color: $loblolly
        text-align: left
        font-family: 'Muli', sans-serif
        font-weight: 300
        font-weight: px-to-em(16px,16px)
        margin-top: 1.5em
        margin-bottom: 0.5em
      p
        color: $aluminium
        font-family: 'Muli', sans-serif
        font-weight: 300
        font-weight: px-to-em(14px,16px)
        margin-top: 0.3em
        margin-bottom: 0.3em
      a
        color: $new-york-pink
        text-decoration: none
        &:hover
          text-decoration: underline