*
  color: #8a8a8d

#landing
  h1
    font-family: 'Lato', sans-serif
    font-weight: 400
    font-size: px-to-em(18px,16px)
    margin-top: 47px
    letter-spacing: px-to-em(3px,16px)
    text-align: center
    position: relative
  img.logo
    position: relative
    width: image-width("vinyl_logo.png")
    height: image-height("vinyl_logo.png")
    margin: auto

    display: block



  .arrow
    position: absolute
    bottom: 20px
    width: 150px
    left: 50%
    margin-left: - 75px
    .down
      background: image-url("vinyl_arrow_down.png") no-repeat top left
      width: image-width("vinyl_arrow_down.png")
      height: image-height("vinyl_arrow_down.png")
      margin: 0 auto 10px auto
    a
      font-family: "Muli", sans-serif
      font-size: px-to-em(16px,16px)
      font-weight: 400
      color: #5d5a56
      text-decoration: none
      &:hover
        color: #CC8B7A

