*
  color: #8a8a8d

#landing-section
  h1
    font-family: 'Lato', sans-serif
    font-weight: 400
    font-size: px-to-em(18px,16px)
    margin-top: 47px
    letter-spacing: px-to-em(3px,16px)
    text-align: center
    position: relative
  img.logo
    position: relative
    width: image-width("vinyl_logo.png")
    height: image-height("vinyl_logo.png")
    margin: auto

    display: block





