#ouroffices-section
  h2.title
    +span(6 of 6)
  .spacer
    +pre(1 of 6)
    +span(5 of 6)
    border-top: 1px solid $new-york-pink
  img
    margin-top: -15px
    margin-bottom: 30px
  ul
    +no-bullets
    padding-left: 0
    margin-left: 0
    text-align: left
    li
      +span(5 of 5)

      h3
        color: $new-york-pink
        text-align: left
        font-family: 'Lato', sans-serif
        font-weight: 400
        font-size: px-to-em(14px,16px)

        letter-spacing: px-to-em(4px,16px)
      p
        color: $aluminium
        font-family: 'Muli', sans-serif
        font-weight: 300
        font-weight: px-to-em(16px,16px)
        margin-bottom: 0

+susy-breakpoint($screen4, $break3)
  #ouroffices-section
    h2.title
      +span(4 of 12)
    .spacer
      +pre(2 of 12)
      +span(8 of 12)
    p
      margin-bottom: 1em
    img

      margin-top: 0
      margin-bottom: 0
      position: absolute
      bottom: 0

    ul

      li
        +span(2 of 8)
        min-height: 250px
