#ouroffices-section

  .spacer
    +pre(2,12)
    +span-columns(8,12)
    border-top: 1px solid $new-york-pink
  ul
    +no-bullets
    padding-left: 0
    margin-left: 0
    text-align: left
    li
      +span-columns(2,8)

      h3
        color: $new-york-pink
        text-align: left
        font-family: 'Lato', sans-serif
        font-weight: 400
        font-weight: px-to-em(16px,16px)
      p
        color: $foggy-gray
        font-family: 'Muli', sans-serif
        font-weight: 300
        font-weight: px-to-em(16px,16px)