#partners-section


  #partners-group
    border-left: 1px solid $new-york-pink
    +span-columns(4,12)
  .partner
    +span-columns(4,4)

    .avatar
      +span-columns(1,4)
      +pre(1,4)
    img
      +border-radius(45px)
      margin: 0 auto 20px 0
    .info
      +span-columns(2 omega,4)
      text-align: left

      h3.name
        color: #b7b7b7
        font-family: "Muli", sans-serif
        font-size: px-to-em(16px,16px)
        margin: 0 0 0.5em 0

      p

        font-family: "Muli", sans-serif
        font-size: px-to-em(14px,16px)
        margin: 0.5em 0
      a
        color: $new-york-pink




