#whatwedo-section

  .spacer
    +pre(1 of 6)
    +span(5 of 6)
    border-top: 1px solid $new-york-pink
  .left
    +span(5 of 5)
    margin-top: 1em
  .right
    +span(5 of 5)
    margin-bottom: 1em
  ul
    +pretty-bullets("vinyl_dot-list.png")
    padding-left: 0
    margin: 0

    text-align: left


    font-weight: 300
    font-family: "Muli", sans-serif

    font-weight: px-to-em(16px,16px)

    li
      background-position: 0 5px
      padding-left: 24px
      min-height: 40px
      color: $aluminium
      letter-spacing: px-to-em(2px,16px)

+susy-breakpoint($screen4, $break3)
  #whatwedo-section
    .spacer
      +pre(2 of 12)
      +span(8 of 12)
    .left
      +span(4 of 8)
      margin: 1em 0
    .right
      +span(4 of 8 omega)
      margin: 1em 0
